<f:section name="Header">
<div class="header">
  <div class="header-image"></div>
  <div class="sticky-header">
    <h1>
      <f:link.page pageUid="{rootPageId}" class="dfgviewer-logo" title="DFG-Viewer">DFG-Viewer</f:link.page>
    </h1>
    <nav>
      <button type="button" class="nav-toggle">
          <span class="nav-label">Open Navigation</span>
          <span class="nav-button-bar"></span>
          <span class="nav-button-bar"></span>
          <span class="nav-button-bar"></span>
          <span class="nav-button-bar"></span>
      </button>
    </nav>
  </div>
  <f:cObject typoscriptObjectPath="lib.menu.breadCrumbNavigation" />
  <h2>{data.title}</h2>
</div>
</f:section>
