parameters:
    ignoreErrors:
            - '#Call to an undefined method Kitodo\\Dlf\\Domain\\Model\\Document::getCurrentDocument\(\)\.#'
    level: 5
    paths:
        - ../Classes/
    treatPhpDocTypesAsCertain: false
