<!-- ###TEMPLATE### -->
	<div id="provider">
		<a class="owner" href="###OWNERSITEURL###" title="###OWNER###"><img src="###OWNERLOGO###" title="###OWNER###" alt="" /></a>
	</div>
	<div id="local">
		<a id="loc" href="###LOCALVIEW###" title="lokale Präsentation">lokale Präsentation</a>
		<a id="ref" href="###REFERENCE###" title="Katalog-Nachweis">Katalog-Nachweis</a>
		<a id="con" href="###OWNERCONTACT###" title="Fragen zum digitalisierten Werk">Fragen zum digitalisierten Werk</a>
	</div>
	<div id="sponsor">
		<a href="###SPONSORSITEURL###" title="###SPONSOR###"><img src="###SPONSORLOGO###" title="###SPONSOR###" alt="" /></a>
	</div>
<!-- ###TEMPLATE### -->