<!-- ###TEMPLATE### -->
	<div id="provider">
		<a class="own" href="###OWNERSITEURL###" title="###OWNER###"><img src="###OWNERLOGO###" title="###OWNER###" alt="" /></a>
	</div>
	<div id="local">
		<a class="loc" href="###LOCALVIEWURL###" title="###LOCALVIEW###">###LOCALVIEW###</a>
		<!-- ###REFERENCES### -->
		<a class="ref" href="###REFERENCEURL###" title="###CATALOG###">###CATALOG###</a>
		<!-- ###REFERENCES### -->
		<a class="con" href="###OWNERCONTACT###" title="###OWNER###">###OWNER###</a>
	</div>
	<div id="sponsor">
		<a class="spn" href="###SPONSORSITEURL###" title="###SPONSOR###"><img src="###SPONSORLOGO###" title="###SPONSOR###" alt="###SPONSOR###" /></a>
	</div>
<!-- ###TEMPLATE### -->