.tx-dlf-view-3d {
  width: 100% !important;
  height: 100% !important;
  background-color: #a0a0a0;
}

#cboxLoadedContent.iipmooviewer {
  position: absolute;
  overflow: hidden !important;
}

#cboxLoadedContent.iipmooviewer > .cboxPhoto {
  visibility: hidden;
}

.iipmooviewer .navcontainer .navbuttons {
  z-index: 100;
}

.iipmooviewer .canvas {
  width: 100% !important;
  height: 100% !important;
}

a.colorbox {
  position: relative;
  display: block;
}

a.wisski-inline-iip > div#wisski-iip-cont {
  position: relative;
  display: block;
}

a.wisski-inline-iip > div#wisski-iip-cont > img {
  visibility: hidden;
}

canvas {
   width: 100% !important;
   height: 100% !important;
   display: block;
}

.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  bottom: -150px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
}

.toastify.on { opacity: 1; }

.toast-close {
	border: none;
	background: none;
	padding-left: 8px;
}

.hierarchy {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.hierarchy::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}

.hierarchy::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.hierarchy::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	background-color: #555;
}

.closed {
	overflow: hidden;
}