/*
 *
 * Score
 * ================================================
 * Specials for the Score view
 *
 */

.score-container {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    text-align: left;
    display: none;
    border-left: 1px solid #eee;

    &:has(> .tx-dlf-score-visible) {
        display: block;
        width: 50%;
    }

    *[id^="tx-dlf-score"] {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        .svg-layer svg {
            background: rgb(243, 238, 230);
        }

        .tx-dlf-score-visible & {
            display: block;
        }

        .ol-zoom {
            display: none;
        }
    }

    @media screen and (min-width: @tabletLandscapeViewportWidth) {
        top: 0;
        max-width: 50%;

        *[id^="tx-dlf-score"] {
            .ol-zoom {
                inset: auto 50% 20px auto;
                transform: translateX(50%);
                display: block;
                background-color: transparent;
                display: flex;

                button {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    margin: 0 4px;
                    .text-hide();
                    background: white url(../Images/controlIcons.svg) no-repeat -360px 0;
                    background-size: auto 120px;

                    &.ol-zoom-in {
                        background-position: -360px 0;
                    }

                    &.ol-zoom-out {
                        background-position: -400px 0;
                    }
                }
            }
        }
    }
}

#tx-dlf-score-midi-player {
    position: absolute;
    width: 300px;
    bottom: 50px;
    margin: 0;
    z-index: 10;
    padding: 0;
    left: 50%;
    transform: translate(-50%, -12px);
    display: none;

    .tx-dlf-score-midi-active.tx-dlf-score-visible & {
        display: block;
    }

    &::part(control-panel) {
        background: white;
        border-radius: 40px;
        border: 1px solid #eee;
    }

    &::part(play-button) {
        color: #6887a3;
        border: 2px solid #6887a3;
        border-radius: 15px;
    }

    &::part(play-button):hover {
        background: white;
        transform: scale(1.1);
    }

    &::part(time) {
        color: #6887a3;
    }

    @media screen and (min-width: @tabletLandscapeViewportWidth) {
        .tx-dlf-score-midi-active.tx-dlf-score-visible & {
            bottom: 0;
        }
    }
}
