<f:comment>
    Copyright notice

    (c) Saxon State and University Library Dresden <typo3@slub-dresden.de>
    All rights reserved

    This script is part of the TYPO3 project. The TYPO3 project is
    free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.

    The GNU General Public License can be found at
    http://www.gnu.org/copyleft/gpl.html.

    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    This copyright notice MUST APPEAR in all copies of the script!
</f:comment>

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:section name="ControlBar">
    <div class="control-bar {f:if(condition:'{gp-multiview}', then:'multiview')}">
      <div class="header-bar">
        <h1><f:link.page pageUid="{rootPageId}" title="DFG-Viewer" class="dfgviewer-logo">DFG-Viewer</f:link.page></h1>
        <nav>
          <f:cObject typoscriptObjectPath="lib.menu.language" />
          <f:cObject typoscriptObjectPath="lib.menu.viewernav" />
          <button type="button" class="nav-toggle">
                <span class="nav-label">Open Navigation</span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
          </button>
        </nav>
      </div>

      <div class="control-bar-content">
          <div class="metadata-wrapper">
              <div class="tx-dlf-metadata">
                  <div class="control-bar-container metadata-basic">
                      <h3>
                          <span class="sidebar-heading-label">{f:translate(key:'metadata', extensionName:'dfgviewer')}</span>
                          <span class="sidebar-heading-state"></span>
                      </h3>
                      <f:cObject typoscriptObjectPath="plugin.tx_dlf_metadata"/>
                  </div>
              </div>
              <div class="offcanvas-toggle" title="<f:translate key='metadata' extensionName='dfgviewer' />"></div>
          </div>

          <div class="toc-wrapper">
              <div class="control-bar-container">
                  <h3>
                      <span class="sidebar-heading-label">{f:translate(key:'toc', extensionName:'dfgviewer')}</span>
                      <span class="sidebar-heading-state"></span>
                  </h3>
                  <f:cObject typoscriptObjectPath="plugin.tx_dlf_tableofcontents"/>
              </div>
              <div class="offcanvas-toggle" title="<f:translate key='toc' extensionName='dfgviewer' />"></div>
          </div>
      </div>

      <div class="footer-bar">
          <div class="collapse-trigger"></div>
      </div>
  </div>
</f:section>

</html>
