<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:section name="ControlBar">
  <div class="control-bar">
      <div class="header-bar">
        <h1><f:link.page pageUid="{rootPageId}" title="DFG-Viewer" class="dfgviewer-logo">DFG-Viewer</f:link.page></h1>
        <nav>
          <f:cObject typoscriptObjectPath="lib.menu.language" />
          <f:cObject typoscriptObjectPath="lib.menu.viewernav" />
          <button type="button" class="nav-toggle">
                <span class="nav-label">Open Navigation</span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
          </button>
        </nav>
      </div>

      <div class="metadata-wrapper">
        <div class="tx-dlf-metadata">
            <f:cObject typoscriptObjectPath="plugin.tx_dlf_metadata" />
        </div>
        <div class="offcanvas-toggle" title="<f:translate key='metadata' extensionName='dfgviewer' />"></div>
      </div>

      <div class="toc-wrapper">
          <f:cObject typoscriptObjectPath="plugin.tx_dlf_tableofcontents" />
          <div class="offcanvas-toggle" title="<f:translate key='toc' extensionName='dfgviewer' />"></div>
      </div>
  </div>
</f:section>

</html>