<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:section name="Footer">
<div class="footer">
    <a href="#top" title="<f:translate key='website.jump_totop' extensionName='dfgviewer' />" class="totop"><f:translate key='website.totop' extensionName='dfgviewer' /></a>
    <p><f:translate key='website.last_updated' extensionName='dfgviewer' />: <f:format.date format="%d. %B %Y">{data.tstamp}</f:format.date></p>
</div>
</f:section>

</html>
