<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:section name="Header">
<div class="header">
  <div class="header-image"></div>
  <div class="sticky-header">
    <h1>
      <f:link.page pageUid="{rootPageId}" class="dfgviewer-logo" title="DFG-Viewer">DFG-Viewer</f:link.page>
    </h1>
    <nav>
      <f:cObject typoscriptObjectPath="lib.menu.main" />
      <f:cObject typoscriptObjectPath="lib.menu.language" />
      <f:cObject typoscriptObjectPath="lib.menu.secondary" />
      <button type="button" class="nav-toggle">
          <span class="nav-label">Open Navigation</span>
          <span class="nav-button-bar"></span>
          <span class="nav-button-bar"></span>
          <span class="nav-button-bar"></span>
          <span class="nav-button-bar"></span>
      </button>
    </nav>
  </div>
  <f:cObject typoscriptObjectPath="lib.menu.breadCrumbNavigation" />
  <h2>{data.title}</h2>
</div>
</f:section>

</html>
