<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:dv="http://typo3.org/ns/Slub/Dfgviewer/ViewHelpers"
    xmlns:dc="http://typo3.org/ns/Slub/SlubDigitalcollections/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:section name="PageView">
    <div class="document-view">
        <div id="browser-hint" class="hidden">
            <div class="alert">
                <span class="closebtn" onclick="hideBrowserAlert()">&times;</span>
                <h2>
                    <f:translate key='browser-hint.outdated_browser' extensionName='dfgviewer' />
                </h2>
                <p>
                    <f:translate key='browser-hint.outdated_browser.description' extensionName='dfgviewer' />
                </p>
            </div>
        </div>

        <div class="document-functions">
            <f:render partial="Provider" arguments="{_all}"/>
            <f:render partial="Submenu" arguments="{_all}"/>
        </div>

        <f:if condition="{is3dObject} == 1">
            <f:then>
                <f:cObject typoscriptObjectPath="plugin.tx_dlf_embedded3dviewer"/>
            </f:then>
            <f:else>
                <f:if condition="{gp-pagegrid} == 1">
                    <f:then>
                        <f:cObject typoscriptObjectPath="plugin.tx_dlf_pagegrid" />
                    </f:then>
                    <f:else>
                        <f:if condition="{isNewspaper} == 'newspaper_anchor'">
                            <f:then>
                                <f:cObject typoscriptObjectPath="plugin.tx_dfgviewer_newspaperyears" />
                            </f:then>
                            <f:else>
                                <f:if condition="{isNewspaper} == 'newspaper_year'">
                                    <f:then>
                                        <f:cObject typoscriptObjectPath="plugin.tx_dfgviewer_newspapercalendar" />
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{isNewspaper} == 'newspaper_issue'">
                                            <!-- it's a newspaper! -->
                                        </f:if>
                                        <f:cObject typoscriptObjectPath="plugin.tx_dlf_pageview" />
                                        <f:cObject typoscriptObjectPath="plugin.tx_dlf_audioplayer" />
                                        <div class="fulltext-container">
                                            <div id="tx-dlf-fulltextselection"></div>
                                        </div>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>

                <div class="view-functions">
                    <f:if condition="{gp-pagegrid} == 1">
                        <f:else>
                            <ul>
                                <f:cObject typoscriptObjectPath="lib.kitodo.navigation.viewfunction" />
                                <li class="tx-dlf-imagemanipulationtool">
                                    <f:cObject typoscriptObjectPath="plugin.tx_dlf_imagemanipulationtool" />
                                </li>
                            </ul>
                        </f:else>
                    </f:if>
                </div>
                <div class="page-control">
                    <f:if condition="{gp-pagegrid} == 1">
                        <f:else>
                            <f:cObject typoscriptObjectPath="lib.kitodo.navigation.pagecontrol" />
                        </f:else>
                    </f:if>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
