<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dv="http://typo3.org/ns/Slub/Dfgviewer/ViewHelpers"
      xmlns:dc="http://typo3.org/ns/Slub/SlubDigitalcollections/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<dv:titleTag
    title="{dc:xpath(xpath:'(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:nonSort | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:title | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:partNumber | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:partName)')}"
/>

<div class="main-wrapper">
    <f:render section="ControlBar" partial="ControlBar" arguments="{_all}" />

    <f:if condition="{isAudio} == 1 OR {isVideo} == 1">
        <f:then>
            <f:render section="MediaView" partial="Kitodo/View/MediaView" arguments="{_all}" />
        </f:then>
        <f:else if="{is3dObject} == 1">
            <f:render section="ModelView" partial="Kitodo/View/ModelView" arguments="{_all}" />
        </f:else>
        <f:else if="{isCalendar} == 1">
            <f:render section="CalendarView" partial="Kitodo/View/CalendarView" arguments="{_all}" />
        </f:else>
        <f:else>
            <f:render section="PageView" partial="Kitodo/View/PageView" arguments="{_all}" />
        </f:else>
    </f:if>
</div>

<f:if condition="{matomoIdsite}">
    <f:render section="Matomo" partial="Matomo" arguments="{_all}" />
</f:if>

</html>
