<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:dv="http://typo3.org/ns/Slub/Dfgviewer/ViewHelpers"
	  xmlns:dc="http://typo3.org/ns/Slub/SlubDigitalcollections/ViewHelpers"
	  data-namespace-typo3-fluid="true"
      lang="en">

<dv:titleTag
	title="{dc:xpath(xpath:'(//mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:nonSort | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:title | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:partNumber | //mets:dmdSec/mets:mdWrap/mets:xmlData/mods:mods/mods:titleInfo[not(@type=\'alternative\')]/mods:partName)')}"
/>

<div class="main-wrapper">
        <f:render section="ControlBar" partial="ControlBar" arguments="{_all}" />

        <f:render section="PageView" partial="PageView" arguments="{_all}" />

        <f:render section="AnnotationBar" partial="AnnotationsBar" arguments="{_all}" />
</div>

<f:comment><!-- Old browsers (IE11) will show the browser hint as the nomodule attribute is not understood. --></f:comment>
<script nomodule>
    document.getElementById('browser-hint').className="";
</script>

<f:if condition="{piwik_idsite}">
	<f:render section="Piwik" partial="Piwik" arguments="{_all}" />
</f:if>

</html>
