<!-- ###TEMPLATE### begin -->
<div class="sru-searchfield">
	<form id="tx-dfgviewer-sru-form" action="###ACTION_URL###" method="post">
		<label for="tx-dfgviewer-sru-query">###LABEL_QUERY###</label>
		<!-- Never change the @id of this input field! Otherwise search suggestions won't work! -->
		<input type="text" id="tx-dfgviewer-sru-query" name="###FIELD_QUERY###" value="###QUERY###" placeholder="###LABEL_QUERY###" />
		<input type="submit" value="###LABEL_SUBMIT###" />
		<input type="hidden" name="tx_dfgviewer[L]" value="###LANG_ID###" />
		<input type="hidden" name="tx_dfgviewer[sru]" value="###SRU_URL###" />
		<input type="hidden" name="tx_dfgviewer[id]" value="###CURRENT_DOCUMENT###" />
		<input type="hidden" name="tx_dfgviewer[action]" value="###ACTION_URL###" />
	</form>
	<!-- The following element is needed for the result list -->
	<div id="tx-dfgviewer-sru-results-loading" style="display: none;">###LABEL_LOADING###...</div>
	<div id="tx-dfgviewer-sru-results-clearing">###LABEL_DELETE_SEARCH###...</div>
	<div id="tx-dfgviewer-sru-results"></div>
	<div id="tx-dfgviewer-sru-labels" style="display:none;">
		<span id="tx-dfgviewer-sru-label-noresult">###LABEL_NORESULT###</span>
	</div>
</div>
<!-- ###TEMPLATE### end -->
