/*
 *
 * Multiview
 * ================================================
 * Styles for the dragable tiles of many
 * different documents
 * (mostly used for score comparison)
 *
 */

.multiview {
    .document-view {

        .page-control > div,
        .view-functions ul li.pages {
            display: none;
        }

        .document-functions {
            .provider {
                background-color: transparent;
            }

            > ul > li {
                &.score,
                &.grid,
                &.doublepage {
                    display: none;
                }

                > a.reset-gridstack-layout {
                    background-position: -720px -40px;
                }
            }
        }
    }

    /* ==============[ the stack layout itself ]================= */

    .grid-stack-wrapper {
        position: absolute;
        inset: 0;
        overflow: auto;
        padding: 75px 5px 75px 5px;

        .grid-stack {
            .grid-stack-item {
                border: 0 none;

                &::before {
                    position: absolute;
                    inset: 5px;
                    background-color: lighten(@light-blue, 20%);
                    border: 1px solid lighten(@light-blue, 10%);
                    content: " ";
                    pointer-events: none;

                }

                &.grid-stack-item-highlighted {
                    &::before {
                        background-color: lighten(@light-blue, 10%);
                    }
                }

                .score-tool {
                    display: none;
                }

                .tx-dlf-navigation-prev,
                .tx-dlf-navigation-next {
                    display: none;
                }


                .gridstack-dragging-handle,
                .ui-resizable-handle,
                .removeDocument a {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    background-color: white;
                    background-image: none;

                    &::before {
                        position: absolute;
                        inset: 2px;
                        content: " ";
                    }
                }

                .gridstack-dragging-handle {
                    left: 0;
                    cursor: grab;

                    &::before {
                        left: 5px;
                        background: linear-gradient(0deg, @base-blue 7.14%, transparent 7.14%, transparent 50%, @base-blue 50%, @base-blue 57.14%, transparent 57.14%, transparent 100%);
                        background-size: 10px 11px;
                        right: 5px;
                        opacity: .5;
                    }
                }

                .ui-resizable-handle {
                    transform: rotate(90deg);

                    &::before {
                        background: url(../Images/controlIcons.svg) no-repeat 0 0;
                        background-size: auto 60px;
                        background-position: -160px 0;
                    }
                }

                .removeDocument a {
                    top: 0;
                    .text-hide();
                    background-color: white;

                    &::before {
                        content: "+";
                        color: @base-blue;
                        font-size: 20px;
                        line-height: 1;
                        transform: rotate(-45deg);
                        opacity: .5;
                    }
                }
            }
        }

        @media screen and (min-width: @desktopViewportWidth) {

            .grid-stack {
                .grid-stack-item {

                    .tx-dlf-navigation-prev,
                    .tx-dlf-navigation-next {
                        position: absolute;
                        inset: auto auto 10px 50%;
                        display: flex;

                        > a, > span {
                            position: relative;
                            width: 40px;
                            height: 40px;
                            display: block;
                            .text-hide();
                            background: white url(../Images/controlIcons.svg) no-repeat 0 0;
                            background-size: auto 120px;
                            border-radius: 20px;
                            margin: 0 5px;

                            &.prevMeasure {
                                background-position: -680px -80px;
                                transform: scale(.8);
                            }

                            &.nextMeasure {
                                background-position: -680px -40px;
                                transform: scale(.8);
                            }

                            &.prev {
                                background-position: -240px -80px;
                            }

                            &.next {
                                background-position: -280px -80px;
                            }
                        }

                        > span {
                            opacity: .3;
                        }
                    }

                    .tx-dlf-navigation-prev {
                        flex-direction: row-reverse;
                        transform: translateX(-100%);
                    }
                }
            }
        }

        .no-touchevents & {
            .grid-stack-item {
                .tx-dlf-navigation-prev, .tx-dlf-navigation-next, .gridstack-dragging-handle, .removeDocument a {
                    opacity: 0;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    .tx-dlf-navigation-prev, .tx-dlf-navigation-next, .gridstack-dragging-handle, .removeDocument a {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.multiviewembedded {
    .main-wrapper {
        bottom: 0;
        box-shadow: none;
    }

    .document-view {
        top: 0;
        .document-functions {
            .add-multiview-document,
            .score,
            .provider,
            .grid {
                display: none;
            }

            > ul > li.submenu > ul {
                bottom: 68px;
            }

        }
    }

    .view-functions ul {
        display: flex;
        justify-content: center;
        top: 15px;
        li {
            display: block;
            &.fullscreen {
                display: none;
            }
        }
    }

    .page-control {
        width: 500px;
        margin-left: -250px;

        .measureBacks,
        .measureFwds{
            display: block;
        }

        .measureBacks {
            left: 50px;
        }

        .measureFwds{
            right: 50px;
        }
    }
}

.document-view {
    .document-functions {
        > ul > li {
            &.add-multiview-document {
                > a {
                    background-position: -720px -80px;
                }

                &.submenu {
                    > form {
                        position: fixed;
                        bottom: 80px;
                        left: 40px;
                        right: 40px;
                        padding: 20px;
                        background: fade(@base-blue, 90%);
                        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                        font-size: 14px;
                        line-height: 1.4;
                        text-align: left;
                        transform-origin: center bottom;
                        .transition();
                        .transform(scaleY(0) translateY(100px));
                        opacity: 0;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

                        p.add-document-description {
                            color: white;
                            margin-bottom: 20px;
                        }

                        label {
                            display: none;
                        }

                        input[type="text"] {
                            position: relative;
                            width: 100%;
                            padding: 6px 10px;
                            color: @base-blue;
                            border: 0 none;
                            outline: none;
                            height: 30px;
                            line-height: 30px;
                            box-shadow: inset 1px 1px 2px fade(@base-blue, 20%);

                            &::placeholder {
                                color: lighten(@light-blue, 10%);
                            }
                        }

                        button[type="submit"] {
                            cursor: pointer;
                            position: absolute;
                            bottom: 20px;
                            right: 20px;
                            width: 30px;
                            height: 30px;
                            padding: 0;
                            .text-hide();

                            &::after {
                                position: absolute;
                                font-size: 22px;
                                line-height: 25px;
                                color: @base-blue;
                                content: "+";
                                left: 6px;
                                top: -1px;
                            }
                        }
                    }
                }

                &.submenu.open {
                    > form {
                        .transform(scaleY(1) translateY(0));
                        opacity: 1;
                    }
                }
            }

            > a.reset-gridstack-layout {
                background-position: -720px -40px;
            }
        }
    }

    @media screen and (min-width: @tabletLandscapeViewportWidth) {
        .document-functions {
            > ul > li {
                &.add-multiview-document {
                    &.submenu {
                        > form {
                            position: absolute;
                            inset: 50px auto auto -20px;
                            width: 450px;
                            transform-origin: center top;
                            transform: scaleY(0) translateY(-100px);

                            p.add-document-description {
                                margin-bottom: 10px;
                            }

                            input[type="text"] {
                                padding: 6px 10px;
                                padding-right: 24px;
                                height: 24px;
                                line-height: 24px;
                            }

                            button[type="submit"] {
                                width: 24px;
                                height: 24px;
                                line-height: 24px;
                                font-size: 18px;
                            }
                        }
                    }

                    &.submenu.open {
                        > form {
                            .transform(scaleY(1) translateY(0));
                        }
                    }
                }
            }
        }
    }
}
