<!-- ###TEMPLATE### -->
	<div class="doublepage">
		<span class="double"><span>Doppelseitenansicht</span></span>
		<span class="switch"><span>Recto/Verso korrigieren</span></span>
	</div>
	<div class="visible gridpage">
	    <div class="rotate">
            <span class="rotate-left" title="Ansicht nach links drehen">Ansicht nach links drehen</span>
            <span class="rotate-right" title="Ansicht nach rechts drehen">Ansicht nach rechts drehen</span>
            <span class="upend" title="Ansicht nach oben ausrichten">Ansicht nach oben ausrichten</span>
        </div>
		<div class="zoom">
			<span class="in">###ZOOM_IN###</span>
			<span class="out">###ZOOM_OUT###</span>
			<span class="fullscreen">###ZOOM_FULLSCREEN###</span>
		</div>
		<div class="backs">
			<span class="first">###FIRST###</span>
			<span class="rwnd">###BACK###</span>
			<span class="prev">###PREVIOUS###</span>
		</div>
		<div class="fwds">
			<span class="next">###NEXT###</span>
			<span class="fwd">###FORWARD###</span>
			<span class="last">###LAST###</span>
		</div>
	</div>
<!-- ###TEMPLATE### -->
