<!-- ###TEMPLATE### -->
	<div class="doublepage">
		<span class="double"><span>Doppelseitenansicht</span></span>
		<span class="switch"><span>Recto/Verso korrigieren</span></span>
	</div>
	<div class="visible">
		<div class="zoom">
			<span class="in">Ansicht vergrößern</span>
			<span class="out">Ansicht verkleinern</span>
		</div>
		<div class="backs">
			<span class="first">###FIRST###</span>
			<span class="rwnd">###BACK###</span>
			<span class="prev">###PREVIOUS###</span>
		</div>
		<div class="fwds">
			<span class="next">###NEXT###</span>
			<span class="fwd">###FORWARD###</span>
			<span class="last">###LAST###</span>
		</div>
	</div>
<!-- ###TEMPLATE### -->