<!-- ###TEMPLATE### begin -->
<div id="sitespanner">
	<a id="top"></a>
	<div id="header">
		<h1>
			<a href="http://dfg-viewer.de/" title="DFG-Viewer"></a>
			DFG-Viewer
		</h1>
		<div id="provider">
			###OWNER###
		</div>
		<div id="local">
			<a class="alternate" href="http://dfg-viewer.de/" title=""></a>
		</div>
		<div id="dfg">
			<a href="http://www.dfg.de/forschungsfoerderung/wissenschaftliche_infrastruktur/lis/projektfoerderung/foerderziele/digitalisierung.html" title="Deutsche Forschungsgemeinschaft">Deutsche Forschungsgemeinschaft</a>
		</div>
		<div id="mininavi">
			<span>Mehr zum DFG-Viewer:</span>
			<ul>
				<li><a href="http://dfg-viewer.de/" id="infos" title="Informationen">Informationen</a></li>
				<li><a id="lang_en" title="Language: English" onclick="window.location.search+='&amp;L=1';">English</a></li>
				<li><a id="lang_de" title="Sprache: Deutsch" onclick="window.location.search+='&amp;L=0';">Deutsch</a></li>
			</ul>
		</div>
	</div>
	<table>
		<tr>
			<td id="whiteboxcontainer">
				<div id="toprow">
					<div id="title">
						<h2>METS/MODS-Validator</h2>
						###STATISTICS###
					</div>
					<div id="debug_top">
						<div class="validator">###SWITCHOFF###</div>
					</div>
				</div>
				<div id="whitebox">
					<table>
						<tr>
							<td id="messages">
								###MESSAGES###
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	<div id="siteendspacer"></div>
	<div id="siteend"></div>
</div>
<!-- ###TEMPLATE### end -->