<!-- ###TEMPLATE### -->
	<div class="doublepage">
		<span class="double">###DOUBLEPAGE###</span>
		<span class="switch">###DOUBLEPAGE+1###</span>
	</div>
	<div class="visible">
		<div class="zoom">
			<a class="in" title="Ansicht vergrößern" onclick="tx_dlf_viewer.map.zoomIn();">Ansicht vergrößern</a>
			<a class="out" title="Ansicht verkleinern" onclick="tx_dlf_viewer.map.zoomOut();">Ansicht verkleinern</a>
		</div>
		<div class="backs">
			<span class="first">###FIRST###</span>
			<span class="rwnd">###BACK###</span>
			<span class="prev">###PREVIOUS###</span>
		</div>
		<div class="fwds">
			<span class="next">###NEXT###</span>
			<span class="fwd">###FORWARD###</span>
			<span class="last">###LAST###</span>
		</div>
	</div>
	<div class="pages">###PAGESELECT###</div>
<!-- ###TEMPLATE### -->
