<!-- ###TEMPLATE### begin -->
<div id="sitespanner">
	<a id="top"></a>
	<div id="header">
		<h1>
			<a href="http://dfg-viewer.de/" title="DFG-Viewer">DFG-Viewer</a>
		</h1>
		###AMD###
		<div id="mininavi">
			<span>Mehr zum DFG-Viewer:</span>
			<ul>
				<li>###INFOS###</li>
				###LANGSWITCHER###
			</ul>
		</div>
	</div>
	<div class="metanewspaper">
		<div class="metadata">
			###METADATA###
		</div>
		<div class="uri">
			###URI###
		</div>
	</div>
	###SRU###
	<div id="newspaperbox">
		###IMAGE###
	</div>
	<div id="siteendspacer"></div>
	<div id="siteend"></div>
</div>
<!-- ###TEMPLATE### end -->
