<!-- ###TEMPLATE### begin -->
<div id="sitespanner">
	<a id="top"></a>
	<div id="header">
		<h1>
			<a href="http://dfg-viewer.de/" title="DFG-Viewer">DFG-Viewer</a>
		</h1>
		###AMD###
		<div id="mininavi">
			<span>Mehr zum DFG-Viewer:</span>
			<ul>
				<li><a href="http://dfg-viewer.de/" id="infos" title="Informationen">Informationen</a></li>
				<li><a id="lang_en" title="Language: English" onclick="window.location.search+='&amp;L=1';">English</a></li>
				<li><a id="lang_de" title="Sprache: Deutsch" onclick="window.location.search+='&amp;L=0';">Deutsch</a></li>
			</ul>
		</div>
	</div>
	<table>
		<tr>
			<td id="whiteboxcontainer">
				<div id="toprow">
					<div id="title">
						###METADATA###
						###URI###
					</div>
					<div id="browser_top">
						<div class="grid"><a class="gridon" title="Seitenvorschau aktivieren">Seitenvorschau aktivieren</a></div>
						<div class="double"><a class="doubleon" title="Doppelseiten-Ansicht aktivieren">Doppelseiten-Ansicht aktivieren</a><span class="switch" title="links &lt;-&gt; rechts korrigieren">links &lt;-&gt; rechts korrigieren</span></div>
						<div class="downloads"><span class="site" title="diese Seite herunterladen">diese Seite herunterladen</span> <span class="all" title="ganzes Werk herunterladen">ganzes Werk herunterladen</span></div>
						<div class="zoom"><span class="in" title="Ansicht vergrößern">Ansicht vergrößern</span> <span class="out" title="Ansicht verkleinern">Ansicht verkleinern</span></div>
						###GUI###
					</div>
				</div>
				<div id="whitebox">
					###IMAGE###
				</div>
				<div id="bottomrow">
					<div id="browser_bottom">
						<div class="grid"><a class="gridon" title="Seitenvorschau aktivieren">Seitenvorschau aktivieren</a></div>
						<div class="double"><a class="doubleon" title="Doppelseiten-Ansicht aktivieren">Doppelseiten-Ansicht aktivieren</a><span class="switch" title="links &lt;-&gt; rechts korrigieren">links &lt;-&gt; rechts korrigieren</span></div>
						<div class="downloads"><span class="site" title="diese Seite herunterladen">diese Seite herunterladen</span> <span class="all" title="ganzes Werk herunterladen">ganzes Werk herunterladen</span></div>
						<div class="zoom"><span class="in" title="Ansicht vergrößern">Ansicht vergrößern</span> <span class="out" title="Ansicht verkleinern">Ansicht verkleinern</span></div>
						###GUI###
					</div>
				</div>
			</td>
			###NAVIGATION###
		</tr>
	</table>
	<div id="siteendspacer"></div>
	<div id="siteend"></div>
</div>
<!-- ###TEMPLATE### end -->