<!-- ###TEMPLATE### begin -->
<div id="sitespanner">
	<a id="top"></a>
	<div id="header">
		<h1>
			<a href="http://dfg-viewer.de/" title="DFG-Viewer">DFG-Viewer</a>
		</h1>
		###AMD###
		<div id="mininavi">
			<span>Mehr zum DFG-Viewer:</span>
			<ul>
				<li>###INFOS###</li>
				###LANGSWITCHER###
			</ul>
		</div>
	</div>
	###SRU###
	###NAVIGATION###
	<table>
		<tr>
			<td id="whiteboxcontainer">
				<div id="toprow">
					<div id="title">
						###METADATA###
						###URI###
					</div>
					<div id="browser_top">
						###TOOLBOX###
						<div class="grid">
							###GRIDSWITCHER###
						</div>
						###GUI###
					</div>
				</div>
				<div id="whitebox">
					<div id="tx-dlf-fulltextselection"></div>
					###IMAGE###
				</div>
				<div id="bottomrow">
					<div id="browser_bottom">
						###TOOLBOX###
						<div class="grid">
							###GRIDSWITCHER###
						</div>
						###GUI###
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div id="siteendspacer"></div>
	<div id="siteend"></div>
</div>
<!-- ###TEMPLATE### end -->
