<!-- ###TEMPLATE### -->
<li class="pages disabled">###PAGESELECT###</li>
<li class="rotate">
		<span class="rotate-left" title="###ROTATE_LEFT###" onclick="tx_dlf_viewer.map.rotateLeft()">###ROTATE_LEFT###</span>
		<span class="rotate-right" title="###ROTATE_RIGHT###" onclick="tx_dlf_viewer.map.rotateRight()">###ROTATE_RIGHT###</span>
		<span class="upend" title="###ROTATE_RESET###" onclick="tx_dlf_viewer.map.resetRotation()">###ROTATE_RESET###</span>
</li>
<li class="zoom">
	<span class="in" title="###ZOOM_IN###" onclick="tx_dlf_viewer.map.zoomIn();">###ZOOM_IN###</span>
	<span class="out" title="###ZOOM_OUT###" onclick="tx_dlf_viewer.map.zoomOut();">###ZOOM_OUT###</span>
	<a class="fullscreen" title="###ZOOM_FULLSCREEN###">###ZOOM_FULLSCREEN###</a>
</li>
<!-- ###TEMPLATE### -->
