<!-- ###TEMPLATE### -->
<div class="backs">
	<span class="first">###FIRST###</span>
	<span class="rwnd">###BACK###</span>
	<span class="prev">###PREVIOUS###</span>
</div>
<div class="fwds">
	<span class="next">###NEXT###</span>
	<span class="fwd">###FORWARD###</span>
	<span class="last">###LAST###</span>
</div>
<!-- ###TEMPLATE### -->
