<!-- ###TEMPLATE### -->
<li class="pages">###PAGESELECT###</li>
<li class="rotate">
		<a class="rotate-left" title="Ansicht nach links drehen" onclick="tx_dlf_viewer.map.rotateLeft()">Ansicht nach links drehen</a>
		<a class="rotate-right" title="Ansicht nach rechts drehen" onclick="tx_dlf_viewer.map.rotateRight()">Ansicht nach rechts drehen</a>
		<a class="upend" title="Ansicht nach oben ausrichten" onclick="tx_dlf_viewer.map.resetRotation()">Ansicht nach oben ausrichten</a>
</li>
<li class="zoom">
	<a class="in" title="###ZOOM_IN###" onclick="tx_dlf_viewer.map.zoomIn();">###ZOOM_IN###</a>
	<a class="out" title="###ZOOM_OUT###" onclick="tx_dlf_viewer.map.zoomOut();">###ZOOM_OUT###</a>
	<a class="fullscreen" title="###ZOOM_FULLSCREEN###">###ZOOM_FULLSCREEN###</a>
</li>
	<div class="backs">
			<span class="first">###FIRST###</span>
			<span class="rwnd">###BACK###</span>
			<span class="prev">###PREVIOUS###</span>
		</div>
		<div class="fwds">
			<span class="next">###NEXT###</span>
			<span class="fwd">###FORWARD###</span>
			<span class="last">###LAST###</span>
		</div>
<!-- ###TEMPLATE### -->
