p {
    margin: 30px 0;
}
a {
    color: #3c77b3;
    text-decoration: none
}
a.more {
    padding-right: 15px;
    background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojM2M3N2IzO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMH08L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xOC4xIDkuOEgyTTkuMyAxbDguOCA4LjgtOC44IDguOCIvPjwvc3ZnPg==') no-repeat right center;
    background-size: 12px 12px;
    font-weight: bold
}
