<!-- ###TEMPLATE### begin -->
<div class="tx-dfgviewer-newspaper-years">
	<ul>
	<!-- ###LISTYEAR### begin -->
		<li class="year">
			###YEARNAME###
		</li>
	<!-- ###LISTYEAR### end -->
</div>
<!-- ###TEMPLATE### end -->

