<f:comment>
    Copyright notice

    (c) Saxon State and University Library Dresden <typo3@slub-dresden.de>
    All rights reserved

    This script is part of the TYPO3 project. The TYPO3 project is
    free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.

    The GNU General Public License can be found at
    http://www.gnu.org/copyleft/gpl.html.

    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    This copyright notice MUST APPEAR in all copies of the script!
</f:comment>

<f:layout name="KitodoPage" />

<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

	<f:section name="Content">
		<f:format.raw>{content}</f:format.raw>
	</f:section>

</div>
