<!-- ###TEMPLATE### begin -->
<div class="tx-dfgviewer-newspaper-calendar">
    <!-- ###CALYEARWRAPPER### begin -->
    <div>
        <div class="year-anchor">
    		###CALALLYEARS###
    	</div>
        <div class="year">
            ###CALYEAR###
        </div>
        <div class="calendar-list-selection">
            <a class="select-calendar-view">Kalender</a>
            <a class="select-list-view">Listenansicht</a>
        </div>
        <div class="calendar-view">
            <!-- ###CALMONTH### begin -->
            <div class="month">
                <table>
                    <caption>###MONTHNAME###</caption>
                    <tr>
                        <th>###DAYMON_NAME###</th>
                        <th>###DAYTUE_NAME###</th>
                        <th>###DAYWED_NAME###</th>
                        <th>###DAYTHU_NAME###</th>
                        <th>###DAYFRI_NAME###</th>
                        <th>###DAYSAT_NAME###</th>
                        <th>###DAYSUN_NAME###</th>
                    </tr>
                    <!-- ###CALWEEK### begin -->
                    <tr>
                        <td>###DAYMON###</td>
                        <td>###DAYTUE###</td>
                        <td>###DAYWED###</td>
                        <td>###DAYTHU###</td>
                        <td>###DAYFRI###</td>
                        <td>###DAYSAT###</td>
                        <td>###DAYSUN###</td>
                    </tr>
                    <!-- ###CALWEEK### end -->
                </table>
            </div>
            <!-- ###CALMONTH### end -->
        </div>
        <!-- ###ISSUELIST### begin -->
        <div class="list-view">
            <ul>
            <!-- ###SINGLEISSUE### begin -->
                <li>###ITEM###</li>
            <!-- ###SINGLEISSUE### end -->
            </ul>
        </div>
        <!-- ###ISSUELIST### end -->
    </div>
    <!-- ###CALYEARWRAPPER### end -->
</div>
<!-- ###TEMPLATE### end -->
